@import "../common/_variable.scss";

.imgLiquidFill {
  img {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  max-width: calc(100% - 50px) !important;
}

@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }
}

#headernav {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 10vmin auto 0vmin;
  ul {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    li {
      list-style-type: none;
      border: 2px solid rgb(173, 180, 202);
      border-bottom: none;
      border-left: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &:first-child {
        border-left: 2px solid rgb(173, 180, 202);
      }
    }
    .active {
      height: 110%;
      z-index: 5;
      background-color: white;
    }
  }
}

#routerPage {
  width: 80%;
  margin: 0vmin auto;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(173, 180, 202);
  border-radius: 8px;
  padding: 1.5rem;
}

/////////////// Add page ///////////////
#addPage {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  .addTask {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(200, 219, 253);
    background-color: rgb(219, 230, 248);
    padding: 1.5rem 1rem 0.5rem;
    margin: 1rem auto;
    width: 80%;
    &.work {
      background-color: bisque;
      border: none;
    }
    &.home {
      background-color: #63cdda;
      border: none;
    }
    &.friend {
      background-color: #9aecdb;
      border: none;
    }
    &.other {
      background-color: #ffcccc;
      border: none;
    }
    .task,
    .taskTag {
      margin-bottom: 1rem;
      input {
        width: 80%;
        height: 5vmin;
      }
    }
    .taskDate {
      .datePicker {
        width: 80%;
        margin-bottom: 1rem;
      }
    }

    .taskType {
      margin-bottom: 1rem;
      form {
        select {
          width: 80%;
          height: 5vmin;
        }
      }
    }
  }

  .addtodoBtn {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    color: rgb(8, 27, 61);
    cursor: pointer;
    .saveBtn {
      background-color: rgb(200, 219, 253);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      &:hover {
        background-color: rgb(114, 164, 250);
      }
    }
    .addBtn {
      border: 2px solid rgb(200, 219, 253);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      &:hover {
        border: 2px solid rgb(114, 164, 250);
      }
    }
  }
}

/////////////// Todo page ///////////////
#eachTask {
  .itemTag {
    color: gray;
    .active {
      color: white;
      background-color: rgb(173, 180, 202);
    }
    ul {
      display: flex;
      li {
        border: 2px solid rgb(173, 180, 202);
        margin-right: 0.75rem;
        padding: 0.1rem 0.5rem;
        border-radius: 16px;
        list-style: none;
        cursor: pointer;
      }
    }
  }

  .taskList {
    margin-top: 1rem;
    width: 85%;
    li {
      list-style: none;
      .checked {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        &.work {
          background-color: bisque;
          border-bottom: 2px solid rgb(255, 207, 148);
        }
        &.home {
          background-color: #63cdda;
          border-bottom: 2px solid #00b4cc;
        }
        &.friend {
          background-color: #9aecdb;
          border-bottom: 2px solid #04b692;
        }
        &.other {
          background-color: #ffcccc;
          border-bottom: 2px solid #ff7676;
        }
        .taskText {
          display: flex;
          flex-direction: column;
          width: 30vmin;
          .taskTitle {
            width: 90%;
            .exp:before {
              color: red;
              font-size: 1.5rem;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f06d";
            }
            h4 {
              margin: auto 0.5rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              &:hover {
                text-decoration: line-through;
                overflow: visible;
                cursor: pointer;
              }
            }
          }
          i {
            margin: auto 0;
            cursor: pointer;
          }
        }
        .editArea {
          display: flex;
          flex-direction: column;
          p {
            margin: auto 0.5rem;
            color: gray;
          }
          .editMenu {
            position: relative;
            i {
              cursor: pointer;
              margin-left: 5.5rem;
            }
            .editBtn {
              display: none;
            }
            .active {
              z-index: 3;
              border: 2px solid rgb(194, 190, 190);
              background-color: rgb(243, 243, 243);
              position: absolute;
              top: 23px;
              left: 35px;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0.25rem 0rem;
              margin: auto;
              i {
                cursor: pointer;
                margin: auto;
                padding: 0.25rem 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
