@import "../common/_variable.scss";

.imgLiquidFill {
  img {
    display: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  max-width: calc(100% - 50px) !important;
}

@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }
}

#headernav {
  width: 80%;
  height: 40px;
  display: flex;
  margin: 10vmin auto 0vmin;
  user-select: none;
  ul {
    display: flex;
    align-items: center;
    margin: 0rem;
    padding: 0px;
    padding-left: 32px;
    li {
      list-style-type: none;
      border: 2px solid rgb(173, 180, 202);
      border-bottom: none;
      border-left: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &:first-child {
        border-left: 2px solid rgb(173, 180, 202);
      }
    }
    .active {
      height: 45px;
      background-color: white;
    }
  }
  @media (max-width: 768px) {
    width: 90%;
  }
  @media (max-width: 576px) {
    ul {
      padding-left: 20px;
      li {
        font-size: 0.75rem;
      }
    }
  }
  @media (max-width: 300px) {
    width: 100%;
  }
}

#routerPage {
  width: 80%;
  margin: 0vmin auto 3rem;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(173, 180, 202);
  border-radius: 8px;
  padding: 1.5rem;
  @media (max-width: 768px) {
    width: 90%;
    padding: 0.75rem;
  }
  @media (max-width: 300px) {
    width: 100%;
    padding: 0.5rem;
  }
}

/////////////// Add page ///////////////
#addPage {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  .addTask {
    border: 2px solid rgb(200, 219, 253);
    background-color: rgb(219, 230, 248);
    padding: 1.5rem 1rem 0.5rem;
    margin: 1rem auto;
    width: 80%;
    .taskState {
      margin-bottom: 1rem;
      .ok {
        color: rgb(6, 122, 64);
        &:after {
          color: rgb(6, 122, 64);
          margin-left: 0.5rem;
          font-size: 1.5rem;
          font-family: "Font Awesome 5 Free";
          content: "\f58b";
        }
      }
      .notyet {
        color: red;
        &:after {
          color: red;
          margin-left: 0.5rem;
          font-size: 1.5rem;
          font-family: "Font Awesome 5 Free";
          content: "\f556";
        }
      }
    }
    .trashCan {
      text-align: right;
      &:hover {
        cursor: pointer;
      }
    }

    &.work {
      background-color: bisque;
      border: none;
    }
    &.home {
      background-color: #7ebef3;
      border: none;
    }
    &.friend {
      background-color: #9aecdb;
      border: none;
    }
    &.other {
      background-color: #ffcccc;
      border: none;
    }
    .task,
    .taskTag {
      margin-bottom: 1rem;
      input {
        width: 80%;
        height: 32px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 3px;
        padding-left: 8px;
      }
    }
    .taskDate {
      .datePicker {
        width: 80%;
        margin-bottom: 1rem;
      }
    }

    .taskType {
      margin-bottom: 1rem;
      form {
        select {
          width: 80%;
          height: 32px;
          border: 1px solid rgb(207, 207, 207);
          border-radius: 3px;
          padding-left: 4px;
        }
      }
    }
  }

  .addtodoBtn {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    color: rgb(8, 27, 61);
    user-select: none;
    .saveBtn {
      background-color: rgb(200, 219, 253);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: rgb(114, 164, 250);
      }
    }
    .addBtn {
      border: 2px solid rgb(200, 219, 253);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      margin-right: 3rem;
      cursor: pointer;
      &:hover {
        border: 2px solid rgb(114, 164, 250);
      }
    }
  }

  @media (max-width: 900px) {
    padding: 0.5rem;
    .addTask {
      width: 100%;
      padding: 1rem;
      .task,
      .taskTag {
        input {
          width: 100%;
        }
      }
      .taskDate {
        .datePicker {
          width: 100%;
        }
      }
      .taskType {
        form {
          select {
            width: 100%;
          }
        }
      }
    }
    .addtodoBtn {
      .saveBtn,
      .addBtn {
        font-size: 10px;
        padding: 0.5rem;
      }
    }
  }
}

/////////////// Todo page ///////////////
#eachTask {
  .titleMenu {
    display: flex;
    justify-content: space-between;
    .multiEdit {
      position: relative;
      user-select: none;
      .barIcon {
        padding: 0.25rem;
        font-size: 2em;
        cursor: pointer;
      }
      .editBtn {
        display: none;
      }
      .active {
        z-index: 3;
        width: 145px;
        background-color: rgb(243, 243, 243);
        position: absolute;
        top: 40px;
        right: 0px;
        box-shadow: 0px 0px 5px gray;
        border-radius: 4px;
        overflow: hidden;
        a {
          display: block;
          text-decoration: none;
          color: black;
        }
        .active-item {
          cursor: pointer;
          padding: 0.25rem 0.75rem;
          color: black;
          margin: 0px !important;

          &:hover {
            color: rgb(69, 69, 148);
            background-color: rgb(203, 203, 203);
          }
        }
      }
    }
  }
  .itemTag {
    color: gray;
    user-select: none;
    .active {
      color: white;
      background-color: rgb(173, 180, 202);
      border: 2px solid rgb(91, 95, 109);
    }
    ul {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      .tagArr {
        cursor: pointer;
      }
      li {
        background-color: rgb(255, 254, 254);
        border: 2px solid rgb(173, 180, 202);
        margin-right: 0.75rem;
        margin-bottom: 0.25rem;
        padding: 0.1rem 0.5rem;
        border-radius: 16px;
        list-style: none;
      }
    }
  }

  .taskList {
    margin: 1rem auto;
    width: 90%;
    ul {
      padding: 0px;
      li {
        list-style: none;
        display: flex;
        .checkitem {
          margin-right: 1rem;
          align-self: center;
        }
        .checked {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 0.5rem;
          &.work {
            background-color: bisque;
            border-bottom: 2px solid rgb(223, 129, 15);
          }
          &.home {
            background-color: #7ebef3;
            border-bottom: 2px solid #307dbb;
          }
          &.friend {
            background-color: #9aecdb;
            border-bottom: 2px solid #028168;
          }
          &.other {
            background-color: #ffcccc;
            border-bottom: 2px solid #ec3f3f;
          }
          .taskText {
            display: flex;
            flex-direction: column;
            width: 70%;
            .taskTitle {
              margin-bottom: 0.75rem;
              .exp:before {
                color: red;
                font-size: 1.5rem;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f06d";
              }
              h4 {
                margin: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
                &:hover {
                  text-decoration: line-through;
                  overflow: initial;
                  word-break: break-all;
                  white-space: initial;
                }
              }
            }
          }
          .editArea {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            p {
              margin: 0px;
              color: rgb(58, 57, 57);
            }
            .editMenu {
              user-select: none;
              position: relative;
              .dotMenu {
                width: 20px;
                height: 100%;
                cursor: pointer;
                .icon {
                  padding: 0.5rem;
                }
              }
              .editBtn {
                display: none;
              }
              .active {
                z-index: 3;
                width: 80px;
                background-color: rgb(243, 243, 243);
                position: absolute;
                top: 25px;
                right: 0px;
                box-shadow: 0px 0px 5px gray;
                border-radius: 4px;
                overflow: hidden;
                a {
                  display: block;
                  text-decoration: none;
                  color: black;
                }
                .active-item {
                  cursor: pointer;
                  padding: 0.25rem 0.75rem;
                  color: black;
                  margin: 0px !important;

                  &:hover {
                    color: rgb(69, 69, 148);
                    background-color: rgb(203, 203, 203);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .addtodoBtn {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    color: rgb(8, 27, 61);
    user-select: none;
    .cancleBtn {
      background-color: rgb(200, 219, 253);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      margin-right: 3rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(114, 164, 250);
      }
    }
    .addBtn {
      border: 2px solid rgb(200, 219, 253);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        border: 2px solid rgb(114, 164, 250);
      }
    }
  }

  @media (max-width: 768px) {
    .itemTag {
      ul {
        li {
          font-size: 8px;
          margin-right: 0.25rem;
        }
      }
    }
    .taskList {
      width: 100%;
      ul {
        li {
          .checked {
            flex-direction: column;
            align-items: flex-start;
            .editArea {
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
              p {
                font-size: 8px;
              }
            }
            .taskText {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
